body {
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    color: #4a4a4a;
}

.wrapper, body {
    padding: 0px!important;
    margin: 0px!important;
    background: #cfd2cd;
}

.first {
    background: #17166f;
    height: 30vh;
}

.card-container {
    justify-content: center;
    position: absolute;
    top: 15vh!important;
    width: 100vw;
}

.landing-title > h4 {
    color: #525252;
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
}
.text-sub {
    font-size: 16px;
    line-height: 25px;
    padding: 5px;
}

.card-custom {
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
}

